@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?1hfum7');
    src: url('../fonts/icomoon.eot?1hfum7#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?1hfum7') format('truetype'), url('../fonts/icomoon.woff?1hfum7') format('woff'), url('../fonts/icomoon.svg?1hfum7#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-envelope-o:before {
    content: "\f003";
}

.icon-street-view:before {
    content: "\f21d";
}

.icon-phone:before {
    content: "\e942";
}

.icon-display:before {
    content: "\e956";
}

.icon-laptop:before {
    content: "\e957";
}

.icon-mobile:before {
    content: "\e958";
}

.icon-mobile2:before {
    content: "\e959";
}

.icon-user:before {
    content: "\e971";
}

.icon-binoculars:before {
    content: "\e985";
}

.icon-briefcase1:before {
    content: "\e9ae";
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-point-down::after {
    content: "\ea05";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-whatsapp:before {
    content: "\ea93";
}

.icon-telegram:before {
    content: "\ea95";
}

.icon-vk:before {
    content: "\ea98";
}

.icon-github:before {
    content: "\eab0";
}